.default-text-box {
  border: rgba(96, 224, 255, 0.639) solid 2px;
  border-radius: 62px;
  background-color: #232323;
}

.heading-4 {
  font-size: 64px;
}

.paragraph-font {
  font-family: "Nunito", sans-serif;
}

.display-font {
  font-family: "Protest Strike", sans-serif;
}

.background-contrast-color {
  color: #0000;
}

.background-color {
  color: #0b0b0b;
}

.text-color {
  color: #ffffff;
}

.secondary-color {
  color: #585858;
}

.primary-color {
  color: #232323;
}

.accent-color {
  color: #a2a2a2;
}

.background-contrast-color-background {
  background-color: #0000;
}

.background-color-background {
  background-color: #0b0b0b;
}

.text-color-background {
  background-color: #ffffff;
}

.secondary-color-background {
  background-color: #585858;
}

.primary-color-background {
  background-color: #232323;
}

.accent-color-background {
  background-color: #a2a2a2;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0b0b0b;
}

#navbar-background {
  background-color: #232323;
  border-bottom:rgba(96, 224, 255, 0.639) solid 2px;
}

#logo img {
  width:80px;
  height: 80px;
}

.topnav-container {
display: flex;
flex-flow: row nowrap;
}


@media (max-width: 790.98px) {
#logo img {
  width: 70px;
  height: 70px;
}
}

@media (max-width: 662px) {
.topnav-container {
  width: 100%;
  justify-content: flex-start;
}

#logo img {
  width: 54px;
  height: 54px;
}
#logo-container {
  padding-right: 0%;
}
}

@media (min-width: 662px) {
#logo-container {
    padding-right: 10%;
}
.topnav {
  justify-content: center;
  width: 40%;
}
}

.topnav {
  overflow: hidden;
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  top: 0;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: 20px;
  display: block;
}

.skeuomorphic-buttons-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
  font-family: 'Montserrat', sans-serif;
  height: 75px;
  outline-offset: 1px;
  margin-left: 10px;
}

.skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
  display: flex;
  padding: 10px 10px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.container-xl {
border-radius: 20px;
margin-top: 10px;
background-color: #ffffff;
border: #2a3a45 ridge 10px;
}

.top-row {
margin-top: 25px;
margin-bottom: 80px;
background-color: #ffffff;
font-size: 70px;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-top: 10px;
  }
}


@media (min-width: 870px) {
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav {
    width: max(1600px, calc(70% + 100px));
  }
}

@media (max-width: 870px) {
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-bottom: 10px;
  }
  .skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 1000px) {

  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.homepage-position {
  position: absolute;
  padding-top: 150px;
  z-index: 10;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

#Homepage {
  background-color: #0b0b0b;
}

.navbar-brand {
  margin-right: -10px;
}

.picture-box {
  width: 750px;
  height: 565px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}

.info-box {
  width: 750px;
  height: 565px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  overflow: hidden;
}

.content-scrollbar-overflow-container {
  overflow-y: scroll;
  overflow: auto;
}

.info-paragraph {
  font-size: 24px;
}

@media (max-width: 990px) {
  .picture-box {
    width: 264px;
    height: 228px;
    border-radius: 20px;
    margin-top: -40px;
  }  
  
  .info-box {
    margin-top: 30px;
    width: 310px;
    height: 172px;
    border-radius: 20px;
  }

  .info-paragraph {
    font-size: 8px;
  }

  .heading-4 {
    font-size: 20px;
  }

  .historical-event-row {
    width: 100%;
    margin-bottom: 20px;
  }

  .button-row {
    margin-top: 20px;
  }

  button {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid rgba(96, 224, 255, 0.639);
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
  button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid rgba(96, 224, 255, 0.639);
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #212121;
    color: #00171F;
    border: 0.16em solid #212121;
  }
  
  button span:not(hover) {
    transition: all 1s;
  }
  
  button span::after {
    content: "";
    background-color: rgba(96, 224, 255, 0.639);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
  }
  
  button span:hover::after {
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
  }
  
  button span:not(hover)::after {
    animation:scale-out-center .5s cubic-bezier(.55,.085,.68,.53) both;
  }
  
  hr {
    border-width: 1px;
    color: rgba(96, 224, 255, 0.639);
    background-color: rgba(96, 224, 255, 0.639);
    border-color: rgba(96, 224, 255, 0.639);
    width: 114%;
    border-style: solid;
    opacity: 1;
  }
}

@media (min-width: 990px) {
hr {
  border-width: 1px;
  color: rgba(96, 224, 255, 0.639);
  background-color: rgba(96, 224, 255, 0.639);
  border-color: rgba(96, 224, 255, 0.639);
  width: 120%;
  border-style: solid;
  opacity: 1;
}

.button-row {
  margin-top: 40px;
}

.historical-event-row {
  width: 100%;
  margin-bottom: 40px;
}

button {
  padding: 0.1em 0.25em;
  width: 25.4em;
  height: 8.4em;
  background-color: #212121;
  border: 0.08em solid rgba(96, 224, 255, 0.639);
  border-radius: 0.3em;
  font-size: px;
  cursor: pointer;
}

button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.8em;
  width: 16.5em;
  height: 5em;
  background-color: #212121;
  border-radius: 0.4em;
  font-size: 1.5em;
  color: #fff;
  border: 0.16em solid rgba(96, 224, 255, 0.639);
  box-shadow: 0 0.8em 0.1em 0.038em #fff;
}

button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.8em);
  box-shadow: 0 0 0 0 #212121;
  color: #00171F;
  border: 0.16em solid #212121;
}

button span:not(hover) {
  transition: all 1s;
}

button span::after {
  content: "";
  background-color: rgba(96, 224, 255, 0.639);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: -1;
  border-radius: 5px;
}

button span:hover::after {
  animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
}

button span:not(hover)::after {
  animation:scale-out-center .5s cubic-bezier(.55,.085,.68,.53) both;
}

}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-29 7:51:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes text-shadow-drop-center-reverse{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 0 18px rgba(96, 224, 255, 0.639)}}@keyframes text-shadow-drop-center-reverse{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 0 18px rgba(96, 224, 255, 0.639)}}
 .text-shadow-drop-center-reverse:not(hover){-webkit-animation:text-shadow-drop-center-reverse .6s reverse both;animation:text-shadow-drop-center-reverse .6s reverse both}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-29 7:47:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes text-shadow-drop-center{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 0 18px rgba(96, 224, 255, 0.639)}}@keyframes text-shadow-drop-center{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 0 18px rgba(96, 224, 255, 0.639)}}
 .text-shadow-drop-center:hover{-webkit-animation:text-shadow-drop-center .6s both;animation:text-shadow-drop-center .6s both}

 /* ----------------------------------------------
 * Generated by Animista on 2024-2-27 10:21:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  @-webkit-keyframes bounce-in-right{0%{-webkit-transform:translateX(600px);transform:translateX(600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(68px);transform:translateX(68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(32px);transform:translateX(32px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(8px);transform:translateX(8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-right{0%{-webkit-transform:translateX(600px);transform:translateX(600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(68px);transform:translateX(68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(32px);transform:translateX(32px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(8px);transform:translateX(8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
 .bounce-in-right{-webkit-animation:bounce-in-right 1.1s both;animation:bounce-in-right 1.1s both}
 
/* ----------------------------------------------
 * Generated by Animista on 2024-2-27 10:22:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes bounce-in-left{0%{-webkit-transform:translateX(-600px);transform:translateX(-600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(-68px);transform:translateX(-68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(-28px);transform:translateX(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(-8px);transform:translateX(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-left{0%{-webkit-transform:translateX(-600px);transform:translateX(-600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(-68px);transform:translateX(-68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(-28px);transform:translateX(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(-8px);transform:translateX(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
 .bounce-in-left{-webkit-animation:bounce-in-left 1.1s both;animation:bounce-in-left 1.1s both}

 /* ----------------------------------------------
 * Generated by Animista on 2024-2-27 10:26:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  @-webkit-keyframes slide-in-elliptic-left-fwd{0%{-webkit-transform:translateX(-800px) rotateY(30deg) scale(0);transform:translateX(-800px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:0}100%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:1800px 50%;transform-origin:1800px 50%;opacity:1}}@keyframes slide-in-elliptic-left-fwd{0%{-webkit-transform:translateX(-800px) rotateY(30deg) scale(0);transform:translateX(-800px) rotateY(30deg) scale(0);-webkit-transform-origin:-100% 50%;transform-origin:-100% 50%;opacity:0}100%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);-webkit-transform-origin:1800px 50%;transform-origin:1800px 50%;opacity:1}}
  .slide-in-elliptic-left-fwd{-webkit-animation:slide-in-elliptic-left-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-left-fwd .7s cubic-bezier(.25,.46,.45,.94) both}


/* MCD TEST */
  .scale-in-center{-webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
  /* ----------------------------------------------
 * Generated by Animista on 2024-2-27 10:40:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

.scale-out-center{-webkit-animation:scale-out-center .5s cubic-bezier(.55,.085,.68,.53) both;animation:scale-out-center .5s cubic-bezier(.55,.085,.68,.53) both}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-27 10:52:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes scale-out-center{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(0);transform:scale(0);opacity:1}}@keyframes scale-out-center{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(0);transform:scale(0);opacity:1}}

@media (max-width: 1350px) {
  .heading-size-change {
    font-size: 150%;
  }
}

@media (min-width: 1350px) {
  .heading-size-change {
    font-size: 350%;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #232323; 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(68, 159, 182, 0.639); 
  border-radius: 7.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 224, 255, 0.639); 
}